<!DOCTYPE html>
<html>
  <head>
    <title>TIF 2018 MyTT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="padding-bottom: 70px;">
    <%= yield %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4641008-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-4641008-9');
    </script>
  </body>
</html>
